SQLAlchemy~=2.0.27
python-dotenv~=1.0.1
fastapi~=0.112.2
pydantic~=2.1.1
requests~=2.31.0
urllib3~=2.2.1
celery~=5.4.0
uvicorn
psycopg2-binary
redis~=5.0.1
orjson
alembic~=1.13.1
passlib~=1.7.4
pydantic[email]
python-jose
python-multipart
